<!DOCTYPE html>
<html>
	<head>
		<title>YelpDive</title>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Lekton&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
		
		
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="/">YelpDive</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" >
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/divingsites">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/divingsites/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/divingsites/tips">Scuba Diving Tips</a>
					</li>
				</ul>
			</div>
			<div class="collapse navbar-collapse navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<% if (!currentUser){ %>
						<li class="nav-item">
							<a class="nav-link" href="/register">Sign Up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
					<% } else { %>
						<li>
							<a class="nav-link" href="#">Signed in, <%= currentUser.username %> </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
					<% } %>
				</ul> 
			</div>
		</nav>
		
		<div class="container" style="margin:65px auto 0px auto;">
			<% if(error && error.length > 0){ %>
				<div class="alert alert-danger" role="alert">
					<%=error%>
				</div>
			<% } %>
			<% if(success && success.length > 0){ %>
				<div class="alert alert-success" role="alert">
					<%=success%>
				</div>
			<% } %>
		</div>
		
		
	