.img-thumbnail img {
	width: 100%;
}

.img-thumbnail + .caption{
	padding: 9px;
}

.img-thumbnail {
	padding: 0;
}

.delete-form {
	display:inline;
}

.jumbo-background {
	margin-top:10px;
	background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(https://images.unsplash.com/photo-1583364512105-951b6f7080ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
	/* background-size: 80% 200%; */
	color: white;
	font-family: 'Roboto', sans-serif;
}