<h1>
	How to Scuba Dive Safely: 20 Essential Tips (<a href="https://www.worldnomads.com/travel-safety/worldwide/safe-scuba-diving">Original Article Here</a>)
</h1>

<p>
	<em>By <a href="https://www.worldnomads.com/about/contributors/chris-mitchell">Chris Mitchell</a>,</em>
	<a href="https://www.worldnomads.com/">World Nomads</a> Contributor - 22 Jul 2019	
</p>

<figure>
	<img src="https://media.worldnomads.com/travel-safety/worldwide/diving-coral-reef-gettyimages-stuart-westmorland-166264781.jpg">
	<figcaption>Photo By Getty Images/Stuart Westmorland</figcaption>
</figure>


<ul>
	<li><a href="#before">Before You Go Scuba Diving</a></li>
	<li><a href="#during">During Your Scuba Diving Trip</a></li>
	<li><a href="#after">After You Go Scuba Diving</a></li>
</ul>

<h3 id="before">
	Before You Go Scuba Diving
</h3>

<h5>
	1. Make Sure You Are Certified to Dive
</h5>
<p>
	Some dive operators require you to have proof of dive certification and/or 	specialty competency depending on the type of dive. Always gain your dive certification from a licensed dive operator before you travel or before you start diving on your trip.
</p>
<p>
	Some operators offer introductory dive courses (like a taste tester), however, these are not a green light for you to dive whenever and wherever you want. If you do dive uncertified or if you are uncertified and dive without a certified diver (as required), you won't be covered by travel insurance.
</p>
<p>
	Travel insurance policy wordings contain information around cover for scuba diving. Read this carefully before you dive to know and understand what you are covered for. If you have any questions around cover, please ask the insurer for help.
</p>

<h5>
	2. Make Sure You're Fit to Dive
</h5>
<p>
	If you've never been diving before, you should have a medical examination in your home country to ensure you're fit to dive. If you're generally fit and healthy, there should be no problem. You will be required to sign a medical statement before learning to dive.
</p>
<p>
	If you're already certified to dive, avoid diving if you're not feeling one hundred percent. In particular, don't dive if you've got a head cold or a hangover. Save the party for the end of your diving trip.
</p>

<h5>
	3. Dive With a Certified Diving School
</h5>
<p>
	Research online for recommended dive schools in the area you're traveling to. It's important to know they are well-established and have well-maintained scuba equipment and boats, along with experienced staff. If English is not your first language, check if they have instructors that can speak your language fluently.
</p>

<h5>
	4. Listen to Your Instructor or Dive Guide
</h5>
<p>
	Once you're on the dive boat, it's important to listen to your instructor or guide, no matter how experienced you are. "Plan Your Dive, Dive Your Plan" is the number one rule of dive preparation – you need to follow your instructor's brief on where you're going, the route you will follow and what you need to watch out for.
</p>

<h5>
	5. Double Check All Your Scuba Gear
</h5>
<p>
	En route to the dive site, you will need to set up all your scuba gear. Take your time and double-check everything is working. If you are not sure about anything, don't be embarrassed – ask your guide or instructor.
</p>

<h5>
	6. Make Sure You Do Your Buddy Check
</h5>
<p>
	Introduce yourself to your buddy beforehand as well, so you can get to know each other a little. It's better for you both safety wise and it can also be the start of a great friendship. Doing the buddy check of each other's scuba gear is extremely important before you get in the water to make sure neither of you has missed anything. 
</p>

<h5>
	7. Have Scuba Diving and Travel Insurance
</h5>
<p>
	Ensure you are covered both above and below water with insurance that explicitly states scuba diving activities are included. Cover for scuba diving varies with World Nomads, so please read the policy wording to make sure you know what you are covered for.
</p>
<p>
	Make sure you check that any travel insurance policy you consider covers all your scuba diving needs to ensure you are adequately covered in the event of injury or illness. And if in doubt, ask the travel insurance provider any questions before purchase.
</p>
<p>
	Being covered on land is vital too, as diving often involves being in remote locations.
</p>

<h5>
	8. Carry Your Policy Number, Medical Information and Emergency Contacts
</h5>
<p>
	It's a good idea to carry your policy number, any medical information and emergency contacts with you while on a diving holiday if in the event you are injured or become ill. 
</p>

<figure>
	<img src="https://media.worldnomads.com/travel-safety/worldwide/blue-ringed-octopus-gettyimages-jin-li-686566378.jpg">
	<figcaption>A blue-ringed octopus in Cebu, Philippines. Photo credit: Getty Images/Jin Li</figcaption>
</figure>

<h3 id="during">
	During Your Scuba Diving Trip
</h3>
<h5>
	9. Never Hold Your Breath – Breathe Normally
</h5>
<p>
	Scuba is a strange and exhilarating experience because you're doing something technically impossible – breathing underwater. It is important to NEVER hold your breath – breathe normally on scuba at all times. Holding your breath can cause an air embolism (where an air bubble enters the bloodstream), which is a serious and potentially fatal injury.
</p>

<h5>
	10. Equalize Frequently as You Descend
</h5>
<p>
	Just like on a plane, the change of pressure as you descend to depth while scuba diving means you need to equalize your ears. This needs to be done frequently and before feeling any pain to avoid injury to your inner ear.
</p>

<h5>
	11. Stay Aware of Where Your Guide and Buddy Are 
</h5>
<p>
	Don't be tempted to swim off on your own when you spot something interesting – point it out to your guide and dive buddy and head towards it together. Staying with your buddy and guide is important for safety and also your orientation. If you do lose each other underwater, look around for one minute, and if you still can't see them, slowly ascend to the surface where they should have done the same.
</p>

<h5>
	12. Keep an Eye on Your Air Gauge
</h5>
<p>
	You can only stay down as long as you have air in your tank, and you need to be aware of when your tank is half full and quarter full so you can plan your return to the surface accordingly. Your guide will ask you how much air you have left periodically, but you are ultimately responsible for your own air consumption.
</p>

<h5>
	13. Dive Within the Limits of Your Dive Computer and No Deeper Than 40m
</h5>
<p>
	If you are wearing a dive computer, ensure that you check it frequently to see how much time you have at each depth during your dive. Otherwise, follow your guide and do not descend below their depth. It's also important to avoid going below 130ft (40m) – this is the limit for recreational scuba diving, and it's also the limit for scuba insurance as well. There's usually not a lot to see below 130ft (40m), anyway.
</p>

<h5>
	14. Don't Over Exert Yourself 
</h5>
<p>
	Diving is often called an adrenaline sport, but you should actually be super relaxed when underwater. The is no gain to swimming fast over reefs – the slower you go, the more you'll see. Avoid moving at a pace which makes you out of breath. If you do feel tired, signal your buddy and find a coral-free rock on which you can hang to have a rest.
</p>

<h5>
	15. Don't Touch Anythin
</h5>g
<p>
	You should avoid touching anything (besides the aforementioned rock) as good practice to protect the coral reefs – but also to protect yourself. Many corals are sharp, many marine plants poisonous and many marine creatures will bite if they feel threatened. Keeping your hands to yourself ensures you and they stay safe and unharmed. It's also important to perfect your buoyancy so you can hover without effort over the reefs and therefore won't feel the need to touch anything.
</p>

<h5>
	16. Always Ascend Slowly From Every Dive

</h5>
<p>
	As well as not holding your breath, ascending slowly from a dive is the other number one rule of diving. Coming up fast from a dive can cause "the bends" or decompression sickness, as nitrogen is forced into the bloodstream. By coming up slowly from a dive and doing the safety stop, the nitrogen in your body has a chance to dissipate and therefore cause no harm.
</p>
<figure>
	<img src="https://images.unsplash.com/photo-1511517301539-1dec8f041d29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60">
	<figcaption>From UnSplash</figcaption>
</figure>

<h3 id="after">
After Your Scuba Diving Trip
</h3>
<h5>
17. Stow All Your Gear Away on the Boat
</h5>
<p>
	Don't leave your scuba gear dumped in a heap on the deck of the boat when you get back from your dive – it's not good for the gear and it's dangerous for you and others who might trip over it. Scuba gear is heavy and potentially dangerous if not handled and stored correctly.
</p>

<h5>
18. Debrief With Your Guide and Buddy
</h5>
<p>
	Discuss how the dive went and make notes on what you can improve next time to ensure maximum fun and safety. Keep a note of the weight you used – this can help you on your next dive to help get your weighting correct.
</p>

<h5>

19. If You Feel Strange, Let Others Know
</h5>
<p>
	Don't keep it to yourself if you feel strange after a dive – let others know. Many people feel tired out because they are simply not used to the exertion of physical exercise. If you feel anything else, tell your guide.
</p>

<h5>
	20. Don't Fly Until at Least 24 Hours After a Dive
</h5>
<p>
	Due to the excess nitrogen in your system, it's important not to fly until at least 24 hours after your last dive. (Some agencies specify 18 hours, but 24 remains the norm). Flying in a pressurized environment can cause decompression sickness if time is not allowed beforehand for the nitrogen to dissipate.
</p>
<p>
	Plan a day off at the end of your diving for relaxing on the beach before you get on a plane. 
</p>
